# .gitignore

# Entorno Virtual
venv/
env/

# Archivos de configuración local
.env

# Base de datos de desarrollo
db.sqlite3
*.sqlite3

# Archivos de medios subidos por los usuarios
/media/

# Archivos de Python
*.pyc
__pycache__/

# Archivos de sistema
.DS_Store