{# Opciones del menú del portal, iguales en todos los diseños nuevos. Van dentro de un <ul class="navbar-nav">. #}
<li class="nav-item"><a class="nav-link" href="#" data-action="inicio">Inicio</a></li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Institución</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" data-action="historia">Historia</a></li>
        <li><a class="dropdown-item" href="#" data-action="mision">Misión y Visión</a></li>
        <li><a class="dropdown-item" href="#" data-action="modelo">Modelo Pedagógico</a></li>
        {% if colegio.sedes.exists %}<li><a class="dropdown-item" href="#" data-action="sedes">Nuestras Sedes</a></li>{% endif %}
        <li><a class="dropdown-item" href="#" data-action="directorio">Directorio Docente</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Comunidad</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" data-action="recursos">Recursos Educativos</a></li>
        <li><a class="dropdown-item" href="#" data-action="galeria">Galería</a></li>
        <li><a class="dropdown-item" href="#" data-action="documentos">Documentos Públicos</a></li>
        <li><a class="dropdown-item" href="#" data-action="redes">Redes Sociales</a></li>
    </ul>
</li>
<li class="nav-item"><a class="nav-link" href="#" data-action="noticias">Noticias</a></li>
{% if colegio.prematricula.esta_abierta %}
<li class="nav-item"><a class="nav-link pd-destacado" href="{% url 'prematricula:inicio' %}"><i class="fas fa-file-signature me-1"></i>Prematrícula {{ colegio.prematricula.ano_lectivo }}</a></li>
{% endif %}
