<article class="pd-noticia">
    <a href="#" class="noticia-link pd-noticia-img" data-pk="{{ n.pk }}" {% if n.url_portada %}style="background-image:url('{{ n.url_portada }}')"{% endif %}>
        {% if not n.url_portada %}<i class="fas fa-newspaper"></i>{% endif %}
    </a>
    <div class="pd-noticia-cuerpo">
        <time>{{ n.fecha_publicacion|date:"j \d\e F, Y" }}</time>
        <h3><a href="#" class="noticia-link" data-pk="{{ n.pk }}">{{ n.titulo }}</a></h3>
        <p>{{ n.resumen|truncatechars:140 }}</p>
    </div>
</article>
